*{
    margin:0;
    padding:0;
    // border:1px solid red;
}

.landing-header{
    background-image: url(../../component-imgs/mobile-imgs/image-hero.jpg);    
}

.creations{
    width:95vw;
}




@media only screen and (max-width: 600px) {
    .landing-header{
        display:flex;
        flex-flow:row wrap;
        background-repeat: no-repeat;
        // background-position: center;
        background-size: cover;
        height:100vh;
    }
    .interactive-img{
        width:80vw;
        height:30vh;
    }
    .header-text-parent{
        display:flex;
        // flex-flow: row wrap;
        justify-content: center;
        align-self: center;
        font-size: 1.89rem;
        border:1px solid white;
        border-width: 4px;
        margin:0% 10% 0% 10%; 
        height:35vh;
    }
    
    .header-text{
        font-weight: 200;
        margin:0;
        margin-left:5%;
        color:white;
        text-transform: uppercase;
    }
    .nav{
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        border:1px solid green;
        height:10%;
        min-width: 100%;
    }
    
}
// @media only screen and (min-width: 600px) {
//     .landing-header{
//         display:flex;
//         flex-flow:row wrap;
//         background-repeat: no-repeat;
//         // background-position: center;
//         background-size: cover;
//         height:100vh;
//     }
//     .header-text-parent{
//         display:flex;
//         flex-flow: row wrap;
//         justify-content: center;
//         align-self: center;
//         font-size: 2rem;
//         border:1px solid white;
//         border-width: 4px;
//         margin:0% 10% 0% 10%; 
//     }
    
//     .header-text{
//         font-weight: 400;
    
//     }
//     .interactive-img{
//         width:80vw;
//         height:30vh;
//     }
    
// }