*{
    margin:0;
    padding:0;
    // border:1px solid red;
}

.landing-header{
    background-image: url(../../component-imgs/mobile-imgs/image-hero.jpg);
    
}

.creations{
    width:95vw;
}



@media only screen and (max-width: 600px) {
    .landing-header{
        
        background-repeat: no-repeat;
        // background-position: center;
        background-size: cover;
        height:100vh;
    }
    .interactive-img{
        width:80vw;
        height:30vh;
    }
}
@media only screen and (min-width: 600px) {
    .landing-header{
        
        background-repeat: no-repeat;
        // background-position: center;
        background-size: cover;
        height:100vh;
    }
}